@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

tr.footerline01 {
	height: 70px;
}

tr.footerline02 {
	background-color: #621b00;	
	height: 30px;
}

td.footerbox01 {	
	font-size: 16px;
	color: #F6EEC9;
	font-family: Arial;
	text-align: center;
}

td.footerbox02 {	
	font-size: 16px;
	color: #eedf9b;
	font-family: Arial;
	text-align: center;
}