@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

span.title01 {
	font-size: 70px;
	color: #AF460F;
	font-family: Arial;
	font-weight: bold;
}

span.title02 {
	font-size: 20px;
	color: #FED39F;
	font-family: Arial;
	font-weight: normal;
}

span.title03 {
	font-size: 60px;
	color: #cc3800;
	font-family: Arial;
	font-weight: bold;
}

span.title04 {
	font-size: 40px;
	color: #FE8761;
	font-family: Arial;
	font-weight: bold;
}

td.skillbox {
	background-color: #F6EEC9;	
}

td.picbox {
	background-color: #330000;
	text-align: center;
	
}

td.titlebox {
	text-align: center;
}







